<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Armadura</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div id="header">

        <div class="navigation">
            <div class="title">
                <a href="../index.html">
                    <p>El gran
                        <p>
                        <h2>Samurai</h2>
                </a>
            </div>

            <nav class="nav">
                <a href="../templates/termilonogia.html">Terminologia</a>
                <a href="../templates/historia.html">Historia</a>
                <a href="../templates/Grandes-samuris.html">Grandes Samurais</a>
                <a href="../templates/Arte.html">Arte</a>
                <a href="../templates/haiku.html">Probervios</a>
                <a href="../templates/armamentos.html">Armamentos</a>
            </nav>

            <div class="nipon">
                <img src="../img/trazo-logo-letra.png" alt="">
            </div>
            <div class="close">
                <img src="../img/close.png" alt="">
            </div>
        </div>
    </div>

    <div class="menu-bar">
        <img src="../img/menu.png" alt="">
    </div>

    </header>

    <section id="home-galeria">
        <div class="home-galeria">
            <div class="title">
                <h1>Armadura Samurai</h1>
            </div>
            <span class="line-red armas-line"></span>
            <span class="line-red-2 armas-line"></span>
            <span class="line-red-3 armas-line"></span>
            <div class="text">
                <p>Se cree que la armadura japonesa ha evolucionado a partir de la armadura utilizada en la Antigua
                    China y Corea .Las corazas y cascos fueron fabricados en Japón tan pronto como el siglo IV. El
                    tankō, usado por los soldados de infantería y el keikō, usado por los jinetes ambos eran del tipo
                    presamurái de la primera coraza japonesa construida de placas del hierro unidas junto por las
                    correas de cuero.
                    <br>
                    <br>
                    Durante la Era Heian (794-1185), la coraza japonesa evolucionó en el estilo más familiar de la
                    armadura usada por el samurái conocida como dō. Los fabricantes de armaduras japonesas comenzaron a
                    usar el cuero (nerigawa) y la laca se utilizó para resistir la prueba del tiempo de las partes de la
                    armadura. Al final de la Era Heian la coraza japonesa había llegado a la forma reconocida claramente
                    como samurái. Las escamas de cuero y/o de hierro se usaron para construir las armaduras del samurái,
                    con cuero y finalmente encaje de seda usado para unir las escamas individuales (kozane) de las
                    cuales estas corazas estaban siendo hechas.​
                </p>
            </div>
        </div>
    </section>

    <section class="armadura-model">
        <div class="img-armadura">
            <img src="../img/armadura.png" alt="">
        </div>

        <span class="kabuto"><h2>Kabuto</h2></span>
        <span class="sode"><h2>Sode</h2></span>
        <span class="nodowa"><h2>Nodowa</h2></span>
        <span class="hato-o-no-ita"><h2>Hato o no ita</h2></span>
        <span class="kote"><h2>Kote</h2></span>
        <span class="do"><h2>Do</h2></span>
        <span class="haidate"><h2>Haidate</h2></span>
        <span class="sune-ate"><h2>Sune ate</h2></span>
        <span class="tsurumaki"><h2>Tsurumaki</h2></span>
    </section>

    <footer style="margin-top: 80em;"> 
        <div class="footer-container">
            <div class="about group">
                <h2>CAGD</h2>
                <p>Front-end Developer</p>

            </div>
            <div class="hr"></div>
            <div class="info group">
                <h3>More</h3>
                <ul>
                    <li><a href="../index.html">El gran Samurai</a></li>
                    <li><a href="../templates/termilonogia.html">Terminologia</a></li>
                    <li><a href="../templates/historia.html">Historia</a></li>
                    <li><a href="../templates/Grandes-samuris.html">Grandes Samurais</a></li>
                    <li><a href="../templates/Arte.html">Arte</a></li>
                    <li><a href="../templates/haiku.html">Proverbios</a></li>
                    <li><a href="../templates/armamentos.html">Armamentos</a></li>
                </ul>
            </div>
            <div class="hr"></div>
            <div class="follow group">
                <h3>Universidad
                    <br>
                    de
                    <br>
                    cordoba
                </h3>
            </div>
        </div>
        <div class="footer-copyright group">
            <p>© 2022 by CAGD. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>