<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactame</title>
    
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
   
</head>
<body>

  <div id="header">

    <div class="navigation">
        <div class="title">
            <a href="../index.html">
                <p>El gran
                    <p>
                    <h2>Samurai</h2>
            </a>
        </div>

        <nav class="nav">
            <a href="../templates/termilonogia.html">Terminologia</a>
            <a href="../templates/historia.html">Historia</a>
            <a href="../templates/Grandes-samuris.html">Grandes Samurais</a>
            <a href="../templates/Arte.html">Arte</a>
            <a href="../templates/haiku.html">Probervios</a>
            <a href="../templates/armamentos.html">Armamentos</a>
        </nav>

        <div class="nipon">
            <img src="../img/trazo-logo-letra.png" alt="">
        </div>
        <div class="close">
            <img src="../img/close.png" alt="">
        </div>
    </div>
</div>
      <!--=======Contact section=======-->
  <section class="contact section" id="contact">
    <div class="container flex-center">
      <div class="content">
        <div class="contact-left">
          <h2>Contactame</h2>
          <ul class="contact-list">
            <li>
              <h3 class="item-title"> Telefono</h3>
              <span>+57 312 2952970</span>
            </li>
            <li>
              <h3 class="item-title"> Correo Electronico</h3>
              <span><a href="mailto:Cgomezdiaz77@correo.unicordoba.edu.co">Cgomezdiaz77@correo.unicordoba.edu.co</a></span>
            </li>
            <li>
              <h3 class="item-title"> Dirección</h3>
              <span>Calle 26B #4-24 Barrio balovento.</span>
            </li>
          </ul>
        </div>
        <div class="contact-right">
          <p>Completa este formulario para ponerte en contacto conmigo</p>
          <form action="" class="contact-form">
            <div class="first-row">
              <input type="text" placeholder="Name">
            </div>
            <div class="second-row">
              <input type="email" placeholder="Email">
              <input type="text" placeholder="subject">
            </div>
            <div class="third-row">
              <textarea name="message" id=""  rows="7" placeholder="Message"></textarea>
            </div>
            <button class="btn" type="submit">Enviar Mensaje <i class="fas fa-paper-plane"></i></button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <footer style="margin-top: 80em;"> 
    <div class="footer-container">
        <div class="about group">
            <h2>CAGD</h2>
            <p>Front-end Developer</p>

        </div>
        <div class="hr"></div>
        <div class="info group">
            <h3>More</h3>
            <ul>
                <li><a href="../index.html">El gran Samurai</a></li>
                <li><a href="../templates/termilonogia.html">Terminologia</a></li>
                <li><a href="../templates/historia.html">Historia</a></li>
                <li><a href="../templates/Grandes-samuris.html">Grandes Samurais</a></li>
                <li><a href="../templates/Arte.html">Arte</a></li>
                <li><a href="../templates/haiku.html">Proverbios</a></li>
                <li><a href="../templates/armamentos.html">Armamentos</a></li>
            </ul>
        </div>
        <div class="hr"></div>
        <div class="follow group">
            <h3>Universidad
                <br>
                de
                <br>
                cordoba
            </h3>
        </div>
    </div>
    <div class="footer-copyright group">
        <p>© 2022 by CAGD. All rights reserved.</p>
    </div>
</footer>
</body>
</html>