<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria de Armas</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<body>
    <header>

        <div id="header">

            <div class="navigation">
                <div class="title">
                    <a href="../index.html">
                        <p>El gran
                            <p>
                            <h2>Samurai</h2>
                    </a>
                </div>

                <nav class="nav">
                    <a href="../templates/termilonogia.html">Terminologia</a>
                    <a href="../templates/historia.html">Historia</a>
                    <a href="../templates/Grandes-samuris.html">Grandes Samurais</a>
                    <a href="../templates/Arte.html">Arte</a>
                    <a href="../templates/haiku.html">Probervios</a>
                    <a href="../templates/armamentos.html">Armamentos</a>
                </nav>

                <div class="nipon">
                    <img src="../img/trazo-logo-letra.png" alt="">
                </div>
                <div class="close">
                    <img src="../img/close.png" alt="">
                </div>
            </div>
        </div>

        <div class="menu-bar">
            <img src="../img/menu.png" alt="">
        </div>

    </header>

    <section id="home-galeria">
        <div class="home-galeria">
            <div class="title">
                <h1>Armas Samurais</h1>
            </div>
            <span class="line-red armas-line"></span>
            <span class="line-red-2 armas-line"></span>
            <span class="line-red-3 armas-line"></span>
            <div class="text">
                <p>Provistos con las armas japonesas por excelencia, se convertían en seres sanguinarios y prácticamente
                    indestructibles, con un manejo letal de la espada, la lanza, pequeños cuchillos y otras muchas armas
                    de asalto y defensa.
                    <br>
                    <br>
                    Hoy hacemos una recopilación de todas las armas japonesas que usaron los antiguos guerreros,
                    convertidas en piezas legendarias de la historia de Japón.
                </p>
            </div>
        </div>
    </section>

    <section class="samurai-1">
        <div class="samurai-flex">
            <div class="title">
                <h2>La Katana</h2>
            </div>
            <span class="line-red"></span>
            <div class="text-samurai-1">
                <p>es el arma más estrechamente relacionada con el Samurái e incluso se le llegó a considerar “el alma
                    del Samurái”. Un Samurái nunca abandonaba su espada, aun en tiempos de paz. El mejor regalo que
                    podía recibir un Samurái era una espada forjada por un célebre maestro.

                    <br>
                    <br>

                    La fuerza impresionante de la Katana se debía a su curvatura, que hacía posible que el corte
                    producido pudiera incluso seccionar el hueso del oponente. Ya que se la debía de empuñar con ambas
                    manos, el portador de la espada se tenía que colocar en ángulo recto con respecto al enemigo. Los
                    samuráis no utilizaban ningún escudo para su protección, dado que la Katana era un arma defensiva y
                    ofensiva al mismo tiempo. Debido a su gran resistencia, podía golpear el arma del oponente para
                    desviar el ataque y acto seguido asestar un golpe mortal. Debido a todas estas características, no
                    es exageración que muchos historiadores afirmen que la Katana es muy superior a las espadas
                    diseñadas por otras culturas.
                </p>
            </div>
        </div>


        <div class="img-samurai-1">
            <img src="../img/armas/1.jpg" alt="">
        </div>
    </section>


    <section class="samurai-2">
        <div class="samurai-flex">
            <div class="title">
                <h2>El arma Naginata</h2>

            </div>
            <span class="line-red"></span>
            <div class="text-samurai-1">

                <br>
                <br>
                <br>
                <p> es el arma más citada en las crónicas Samurái. Constaba de una hoja curva montada sobre un mango de
                    madera y su aspecto de asemejaba al de las alabardas chinas. La Naginata era un arma sumamente
                    versátil, ya que con ella se podía golpear, apuñalar o acuchillar al enemigo.

                    <br>
                    <br>
                    A pesar de que en ocasiones se la compara con una alabarda o un archa europea, esta comparación
                    dista mucho de la realidad de los fines para los cuales fueron desarrolladas estas armas, pues la
                    naginata es un arma de corte, mientras que una alabarda o un archa se asemejan más a un hacha con
                    una larga asta y una punta al final. Las dimensiones peso y proporciones de estas armas son tan
                    distintas que no pueden ser equiparadas.

                    <br>
                    <br>
                    Como arma militar la naginata fue muy importante en los campos de batalla, donde en un principio era
                    llevada por la infantería para defenderse de la caballería, aunque en periodos más tardíos de la
                    historia de Japón fue adoptada también por combatientes a caballo. La técnica de combatir con la
                    naginata se llama naginatajutsu y, está presente en muchos estilos de koryū budō (o kobudō).
                </p>
            </div>
        </div>


        <div class="img-samurai-1 ">
            <img src="../img/armas/2.jpg" alt="">
        </div>

    </section>

    <section class="samurai-1">
        <div class="samurai-flex">
            <div class="title">
                <h2>La Nodachi</h2>
            </div>
            <span class="line-red"></span>
            <div class="text-samurai-1">
                <p>Una odachi (野太刀:のだち?) es una gran espada japonesa a dos manos. odachi se traduce aproximadamente como
                    "espada de campo", sin embargo algunas fuentes sugieren que el significado de nodachi es básicamente
                    el mismo que ōdachi que significa "gran espada". La confusión de términos ha hecho que nodachi se
                    convierta prácticamente en un sinónimo de la mucho más grande ōdachi. De este modo, mientras el uso
                    original del término se podría referir a cualquier tipo de espada larga de batalla (daitō),
                    incluyendo el tachi, se usa frecuentemente de manera incorrecta a cualquier tipo de espada japonesa
                    de gran tamaño.

                    <br>
                    <br>

                    Una nodachi tiene el mismo aspecto general y diseño que un tachi, pero es considerablemente más
                    larga. Fue usada por la infantería y estaba diseñada como un arma para la guerra contra la
                    caballería y enfrentamientos en campo abierto, ya que su longitud hacía que su uso en interiores o a
                    corta distancia fuera difícil.
                </p>
            </div>
        </div>


        <div class="img-samurai-1">
            <img src="../img/armas/1.2.jpg" alt="" style="width: 400px;">
        </div>
    </section>

    <section class="samurai-2">
        <div class="samurai-flex">
            <div class="title">
                <h2>El bokken (木剣)- bokutō (木刀)</h2>

            </div>
            <span class="line-red"></span>
            <div class="text-samurai-1">

                <br>
                <br>
                <br>
                <p> El bokken (木剣; hiragana: ぼっけん; boku, 'madera'; ken, 'espada') o bokutō (木刀; hiragana: ぼくとう; tō,
                    'sable') es un sable de madera empleado en diversas artes marciales clásicas provenientes del Japón,
                    principalmente en: la esgrima clásica japonesa o kenjutsu, la esgrima tradicional moderna o kendō,
                    el arte de desenvainar y cortar con el sable o iaidō, y el arte de la esgrima con bastón o jōdō
                    <br>
                    <br>
                    Asimismo también es usado por varias artes marciales japonesas tradicionales esencialmente sin armas
                    como parte integral de su práctica como: el jiu jitsu, el Aikidō, el ninjutsu, el judo y el kobudō
                    japonés. Es utilizado fundamentalmente como un reemplazo o representación del sable real o katana.

                </p>
            </div>
        </div>


        <div class="img-samurai-1 seudo-1 ">
            <img src="../img/armas/3.jpg" alt="">
        </div>

    </section>


    <section class="samurai-1">
        <div class="samurai-flex">
            <div class="title">
                <h2>El Tachi</h2>
            </div>
            <span class="line-red"></span>
            <div class="text-samurai-1">
                <p>El tachi (太刀:たち?) es una espada japonesa, de la cual se dice a menudo que es algo más curvada y un
                    poco más larga que la katana.

                    <br>
                    <br>

                    El tachi se usaba principalmente a caballo, donde era posible blandirlo eficientemente para cortar a
                    la infantería enemiga. No obstante, en el suelo seguía siendo una arma efectiva, aunque su uso fuera
                    más complicado que cuando se usaba a caballo. Fue por esta razón que se desarrolló su compañera, la
                    uchigatana (predecesora de la katana).
                </p>
            </div>
        </div>


        <div class="img-samurai-1">
            <img src="../img/armas/4.jpg" alt="">
        </div>
    </section>

    <section class="samurai-2">
        <div class="samurai-flex">
            <div class="title">
                <h2>El wakizashi (脇差 o 脇指:わきざし?)</h2>

            </div>
            <span class="line-red"></span>
            <div class="text-samurai-1">

                <br>
                <br>
                <br>
                <p> es un sable corto tradicional japonés, con una longitud de entre 30 y 60 centímetros. En el caso del
                    más corto, casi habría que hablar de tantō, un tipo japonés de cuchillo
                    <br>
                    <br>
                    Su forma es similar a la de la katana, aunque el filo es generalmente más delgado y por tanto puede
                    herir con mayor gravedad a un objetivo desprotegido. Los guerreros samurái a menudo llevaban ambas
                    consigo, denominándolas en conjunto daishō, literalmente 'la larga y la corta'.
                </p>
            </div>
        </div>


        <div class="img-samurai-1 seudo-1 ">
            <img src="../img/armas/5.jpg" alt="">
        </div>

    </section>

    <section class="samurai-1">
        <div class="samurai-flex">
            <div class="title">
                <h2>El Tanto</h2>
            </div>
            <span class="line-red"></span>
            <div class="text-samurai-1">
                <p>El Tanto es la daga defensiva japonesa, tiene doble filo y la hoja mide entre quince y treinta
                    centímetros de longitud. Se utilizaba para el ritual harakiri o seppuku (corte del vientre)
                    substituyendo así a la Wakizashi.
                </p>
            </div>
        </div>


        <div class="img-samurai-1">
            <img src="../img/armas/6.jpg" alt="" style="width: 400px; margin-top: 100px;">
        </div>
    </section>

    <section class="samurai-2">
        <div class="samurai-flex">
            <div class="title">
                <h2>El iaitō (居合刀?) </h2>

            </div>
            <span class="line-red"></span>
            <div class="text-samurai-1">

                <br>
                <br>
                <br>
                <p> lo practicaban los Samuráis y su aprendizaje y destreza mental era esencial para ganar la máxima
                    velocidad en sus luchas y así no dar tiempo a que desenvainaran sus oponentes. La apariencia del
                    Iaito suele ser similar a la Katana aunque su principal particularidad es que su hoja no está
                    afilada.
                    <br>
                    <br>
                    Es importante entender que el iaitō no es un arma auténtica. Está pensado específicamente para
                    realizar la práctica del iaidō sin hacerse daño en la práctica individual y minímizando el riesgo en
                    la práctica en pareja.
                    <br>
                    <br>
                    La construcción de un iaitō debe imitar fielmente al diseño de un katana. Es de gran importancia que
                    respete el tamaño, peso y equilibrio de un katana auténtica, así como su acabado, para practicar de
                    la forma más real posible su manejo. Se emplea para familiarizar al practicante con el arma y
                    facilitarle una posterior transición, cuando tenga la práctica y experiencia necesaria para
                    manejarla sin riesgos y conservarla correctamente, hacia un auténtico katana afilado.
                </p>
            </div>
        </div>


        <div class="img-samurai-1  ">
            <img src="../img/armas/7.jpg" alt="">
        </div>

    </section>

    <section class="samurai-1">
        <div class="samurai-flex">
            <div class="title">
                <h2>La Nagamaki</h2>
            </div>
            <span class="line-red"></span>
            <div class="text-samurai-1">
                <p>Fue popular entre los siglos XII y XIV. Hoy en día es un raro objeto del coleccionista y unas pocas
                    artes marciales enseñan su técnica. No hay reglas sólidas que gobiernen los aspectos de la forja de
                    la Nagamaki. Al contrario que el Wakizashi, el Tanto y la Katana, que tienen una historia de medidas
                    estrictas.
                </p>
            </div>
        </div>


        <div class="img-samurai-1">
            <img src="../img/armas/8.jpg" alt="" style="width: 400px; margin-top: 100px;">
        </div>
    </section>

    <section class="samurai-2">
        <div class="samurai-flex">
            <div class="title">
                <h2>La Shirasaya </h2>

            </div>
            <span class="line-red"></span>
            <div class="text-samurai-1">

                <br>
                <br>
                <br>
                <p>Una shirasaya (白鞘?), literalmente "funda blanca", aunque en este contexto, "blanca" significa sin
                    decoración, es una hoja de espada japonesa consistente en una vaina o saya y una empuñadura o tsuka,
                    empleadas cuando la hoja no va a ser utilizada por un tiempo y necesita ser almacenada.
                    <br>
                    <br>
                    Externamente no muestra ninguna característica destacable, salvo los necesarios mekugi-ana o
                    agujeros en la empuñadura (ver katana) en los que asegurar la parte de la hoja que se encuentra
                    dentro de la empuñadura, o nakago. En ocasiones se escribe en la saya información sobre la hoja, o
                    sayagaki.
                    <br>
                    <br>
                    Una shirasaya no está diseñada para ser usada en combate, ya que la ausencia de tsuba o guarda, así
                    como de ito, las tiras trezadas de algodón, cuero o seda que facilitan el agarre, resultan serios
                    inconvenientes frente a una katana real. Sin embargo, existió un tipo de espadas con estas carencias
                    destinadas al combate, pasando por ser simples bastones, las shikomizue.
                </p>
            </div>
        </div>


        <div class="img-samurai-1  ">
            <img src="../img/armas/9.jpg" alt="">
        </div>

    </section>

    <section class="samurai-1">
        <div class="samurai-flex">
            <div class="title">
                <h2>El Sai</h2>
            </div>
            <span class="line-red"></span>
            <div class="text-samurai-1">
                <p>El Sai japonés fue una herramienta agrícola que se convirtió en arma. Su forma básica es la de una
                    daga sin filo pero con una aguda punta. Se ha reconocido al Sai la virtud de facilitar el
                    mejoramiento de la postura y del equilibrio, además de la flexibilidad en ambas manos, muñecas y
                    antebrazos.
                </p>
            </div>
        </div>


        <div class="img-samurai-1">
            <img src="../img/armas/10.png" alt="">
        </div>
    </section>


    <footer>
        <div class="footer-container">
            <div class="about group">
                <h2>CAGD</h2>
                <p>Front-end Developer</p>

            </div>
            <div class="hr"></div>
            <div class="info group">
                <h3>More</h3>
                <ul>
                    <li><a href="../index.html">El gran Samurai</a></li>
                    <li><a href="../templates/termilonogia.html">Terminologia</a></li>
                    <li><a href="../templates/historia.html">Historia</a></li>
                    <li><a href="../templates/Grandes-samuris.html">Grandes Samurais</a></li>
                    <li><a href="../templates/Arte.html">Arte</a></li>
                    <li><a href="../templates/haiku.html">Proverbios</a></li>
                    <li><a href="../templates/armamentos.html">Armamentos</a></li>
                </ul>
            </div>
            <div class="hr"></div>
            <div class="follow group">
                <h3>Universidad
                    <br>
                    de
                    <br>
                    cordoba
                </h3>
            </div>
        </div>
        <div class="footer-copyright group">
            <p>© 2022 by CAGD. All rights reserved.</p>
        </div>
    </footer>

</body>

</html>