<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grandes Samurais</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>

        <div id="header">

            <div class="navigation">
                <div class="title">
                    <a href="../index.html">
                        <p>El gran
                            <p>
                            <h2>Samurai</h2>
                    </a>
                </div>

                <nav class="nav">
                    <a href="../templates/termilonogia.html">Terminologia</a>
                    <a href="../templates/historia.html">Historia</a>
                    <a href="../templates/Grandes-samuris.html">Grandes Samurais</a>
                    <a href="../templates/Arte.html">Arte</a>
                    <a href="../templates/haiku.html">Probervios</a>
                    <a href="../templates/armamentos.html">Armamentos</a>
                </nav>

                <div class="nipon">
                    <img src="../img/trazo-logo-letra.png" alt="">
                </div>
                <div class="close">
                    <img src="../img/close.png" alt="">
                </div>
            </div>
        </div>

        <div class="menu-bar">
            <img src="../img/menu.png" alt="">
        </div>

    </header>
    <section class="banner">

        <img src="../img/banner.png" alt="">

        <div class="text-banner">
            <h1>Los mejores samuráis japoneses de todos los tiempos</h1>
            <p> <strong>Los Tres Grandes Unificadores de Japón:</strong> Oda Nobunaga, Toyotomi Hideyoshi y Tokugawa
                Ieyasu no fueron los
                únicos guerreros samuráis conocidos que se encuentran en la historia de Japón . Hay otros grandes
                samuráis japoneses de los que aprender, como Miyamoto Musashi y Tomoe Gozen, una temible samurái
                japonesa.
                <br>
                Los guerreros samuráis son un elemento clave de la cultura y la historia japonesas. Samurai no solo
                describe una especie de soldado, sino una casta social. En Japón, la clase samurái surgió en el siglo
                XII y duró hasta la década de 1870.
            </p>
        </div>
    </section>

    <section id="blanco" class="samurai-1">
        <div class="samurai-flex">
            <div class="title">
                <h2>Miyamoto Musashi (1584-1645)</h2>
            </div>
            <span class="line-red"></span>
            <div class="text-samurai-1">
                <p>Nacido en 1584, Myamoto Mushashi fue un famoso y consumado soldado, espadachín y artista. Primero
                    participó en un combate real cuando tenía 13 años. Cuando estaba en el bando perdedor de la
                    Batalla de Sekigahara en 1600, se convirtió en un ronin , o samurái sin maestro.
                    <br>
                    <br>

                    Se propuso desarrollar la técnica perfecta de la espada y desarrolló un estilo de esgrima con
                    dos espadas (el nito ichi ryu). Su reputación como maestro espadachín ha continuado a lo largo
                    de los siglos, ya que se le conoce como kensai o santo de la espada.
                    <br>
                    <br>

                    Su duelo más famoso es contra su archirrival Saski Kojiro en una pequeña isla frente a la costa.
                    Rápidamente terminó la pelea golpeando a Kojiro en la cabeza con una espada de madera. Después
                    de esto, se retiró de los duelos, aunque entrenó a algunos estudiantes y ayudó a reprimir la
                    Rebelión de Shimabara de 1637.
                </p>



                <div class="btn">
                    <span class="trazo-btn">
                        <img src="../img/trazo-nav.png" alt="">
                    </span>
                    <strong><a href="https://es.wikipedia.org/wiki/Miyamoto_Musashi">Conoce Más +</a></strong>
                </div>
            </div>
        </div>


        <div class="img-samurai-1">
            <img src="../img/samurais/miyamoto_musashi.png" alt="">
        </div>




    </section>

    <section class="samurai-2">
        <div class="samurai-flex">
            <div class="title">
                <h2>Tokugawa leyasu (1543-1616)</h2>
            </div>
            <span class="line-red"></span>
            <div class="text-samurai-1">
                <p>Nacido en 1584, Myamoto Mushashi fue un famoso y consumado soldado, espadachín y artista. Primero
                    participó en un combate real cuando tenía 13 años. Cuando estaba en el bando perdedor de la
                    Batalla de Sekigahara en 1600, se convirtió en un ronin , o samurái sin maestro.
                    <br>
                    <br>

                    A los cuatro años, Ieyasu fue enviado como rehén al clan Imagawa para asegurar una alianza. Fue
                    criado y educado en su corte. En 1567, asumió el liderazgo de su clan y cambió su nombre a Tokugawa,
                    en honor a la región de origen de su familia, y tomó el primer nombre Ieyasu.
                    <br>
                    <br>

                    Durante los siguientes veinticinco años, su renombre militar creció luego de una serie de campañas
                    exitosas. Más tarde, sus aliados le dieron el gobierno de las tierras en el este de Japón, incluido
                    el pequeño puerto de Edo. Ieyasu colocó su sede aquí, dando el primer paso para transformar el
                    pequeño Edo en la próspera metrópolis de Tokio.
                </p>



                <div class="btn-2">
                    <span class="trazo-btn">
                        <img src="../img/trazo-nav.png" alt="">
                    </span>
                    <strong><a href="https://es.wikipedia.org/wiki/Tokugawa_Ieyasu">Conoce Más +</a></strong>
                </div>
            </div>
        </div>


        <div class="img-samurai-1">
            <img src="../img/samurais/shogun_tokugawa_ieyasu.png" alt="">
        </div>

    </section>


    <section class="samurai-1">
        <div class="samurai-flex">
            <div class="title">
                <h2>Toyotomi Hideyoshi (1537-1598)</h2>
            </div>
            <span class="line-red"></span>
            <div class="text-samurai-1">
                <p>Este señor feudal vivió desde 1536/37 hasta 1598 y se desempeñó como primer ministro imperial. Ayudó
                    a terminar la unificación de Japón en el siglo XVI, ayudando a crear el país que conocemos hoy. <br>
                    <br>

                    Toyotomi Hideyoshi nació como un campesino. Volvió a casa cuando aún era un niño y se convirtió en
                    paje de uno de los vasallos del barón feudal
                    <br>
                    <br>

                    Durante un tiempo, se convirtió en soldado de infantería, luego su alegría, inteligencia y tacto lo
                    ayudaron a ser elevado al estatus de samurái. Luchó por los ejércitos de Oda Nobunaga cuando el
                    líder intentó unificar Japón bajo su gobierno.

                    <br>
                    <br>

                    Más tarde construiría un castillo en Osaka. Mientras intentaba completar el intento del difunto
                    Nobunaga de unificar el país, se enfrentó en la batalla con Tokugawa Ieyasu. La batalla no fue
                    concluyente y los dos samuráis acordaron una alianza.

                </p>



                <div class="btn">
                    <span class="trazo-btn">
                        <img src="../img/trazo-nav.png" alt="">
                    </span>
                    <strong><a href="https://es.wikipedia.org/wiki/Toyotomi_Hideyoshi">Conoce Más +</a></strong>
                </div>
            </div>
        </div>


        <div class="img-samurai-4">
            <img src="../img/samurais/toyotomi_hideyoshi.png" alt="">
        </div>




    </section>

    <section class="samurai-2">
        <div class="samurai-flex">
            <div class="title">
                <h2>Oda Nobunaga <br> (1534-1582)</h2>
            </div>
            <span class="line-red"></span>
            <div class="text-samurai-1">
                <p>La historia de Oda Nobunaga es la fuente de muchas otras, pero vale la pena conocerla por sí sola.
                    Nacido en 1534, Nobunaga vivió en un Japón profundamente fracturado. Los señores de la guerra
                    enfrentados se enfrentaron con frecuencia, causando mucha muerte y destrucción.
                    <br>
                    <br>
                    A los 16, se hizo cargo de un solo distrito de la provincia de Owari después de la muerte de su
                    padre. Fue considerado un excéntrico (en el mejor de los casos) o un tonto (más a menudo).
                    <br>
                    <br>

                    Nobunaga se asociaría con los de clase baja y rompió con los estrictos protocolos en muchas
                    ocasiones, como en el funeral de su padre. Debido a su comportamiento sacrílego en el funeral, uno
                    de los samuráis más leales de la familia, Hirate Masahide , se suicidó, responsabilizando a
                    Nobunaga.
                </p>



                <div class="btn-2">
                    <span class="trazo-btn">
                        <img src="../img/trazo-nav.png" alt="">
                    </span>
                    <strong><a href="https://es.wikipedia.org/wiki/Oda_Nobunaga">Conoce Más +</a></strong>
                </div>
            </div>
        </div>


        <div class="img-samurai-5">
            <img src="../img/samurais/oda_nobunaga.png" alt="">
        </div>

    </section>

    <section class="samurai-1">
        <div class="samurai-flex">
            <div class="title">
                <h2>Tomoe Gozen <br> (1157-1247)</h2>
            </div>
            <span class="line-red"></span>
            <div class="text-samurai-1">
                <p>Una de las pocas samuráis que conocemos, Tomoe Gozen era considerada una gran belleza. Su destreza
                    con las armas y la equitación es tan célebre como su belleza.
                    <br>
                    <br>

                    Era hija de Nakahara Kanetō , partidario de Minamoto no Yoshinaka, y heredó su lealtad. Ella lo
                    sirvió en las Guerras Genpai, al mando de 300 samuráis contra 2000 guerreros del clan Taira y
                    ganando.
                    <br>
                    <br>

                    La vida de Tomoe es material de leyenda. Decapitó a Honda no Morishige de Musashi y mató al samurái
                    Uchida Ieyoshi. Después de sus hazañas, fue considerada la primera general de Japón.
                    <br>
                    <br>
                    Su historia y habilidad han sido el foco de libros, videojuegos, manga y más a lo largo de los años,
                    consagrándola en la cultura pop japonesa.
                </p>



                <div class="btn">
                    <span class="trazo-btn">
                        <img src="../img/trazo-nav.png" alt="">
                    </span>
                    <strong><a href="https://es.wikipedia.org/wiki/Tomoe_Gozen">Conoce Más +</a></strong>
                </div>
            </div>
        </div>


        <div class="img-samurai-6">
            <img src="../img/samurais/tomoe_gozen_defeating_uchida_saburo.png" alt="">
        </div>




    </section>

    <footer style="margin-top: 150px;">
        <div class="footer-container">
            <div class="about group">
                <h2>CAGD</h2>
                <p>Front-end Developer</p>

            </div>
            <div class="hr"></div>
            <div class="info group">
                <h3>More</h3>
                <ul>
                    <li><a href="../index.html">El gran Samurai</a></li>
                    <li><a href="../templates/termilonogia.html">Terminologia</a></li>
                    <li><a href="../templates/historia.html">Historia</a></li>
                    <li><a href="../templates/Grandes-samuris.html">Grandes Samurais</a></li>
                    <li><a href="../templates/Arte.html">Arte</a></li>
                    <li><a href="../templates/haiku.html">Proverbios</a></li>
                    <li><a href="../templates/armamentos.html">Armamentos</a></li>
                </ul>
            </div>
            <div class="hr"></div>
            <div class="follow group">
                <h3>Universidad
                    <br>
                    de
                    <br>
                    cordoba
                </h3>
            </div>
        </div>
        <div class="footer-copyright group">
            <p>© 2022 by CAGD. All rights reserved.</p>
        </div>
    </footer>







</body>

</html>