<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proverbios</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>

        <div id="header">

            <div class="navigation">
                <div class="title">
                    <a href="../index.html">
                        <p>El gran
                            <p>
                            <h2>Samurai</h2>
                    </a>
                </div>

                <nav class="nav">
                    <a href="../templates/termilonogia.html">Terminologia</a>
                    <a href="../templates/historia.html">Historia</a>
                    <a href="../templates/Grandes-samuris.html">Grandes Samurais</a>
                    <a href="../templates/Arte.html">Arte</a>
                    <a href="../templates/haiku.html">Probervios</a>
                    <a href="../templates/armamentos.html">Armamentos</a>
                </nav>

                <div class="nipon">
                    <img src="../img/trazo-logo-letra.png" alt="">
                </div>
                <div class="close">
                    <img src="../img/close.png" alt="">
                </div>
            </div>
        </div>

        <div class="menu-bar">
            <img src="../img/menu.png" alt="">
        </div>

    </header>
    <section class="proverbios-home">
        <img src="../img/haiku/2.png" alt="">
        <div class="title">
            <h1>El camino del Samurai</h1>
            <p>Los guerreros samuráis, son personas con una filosofía de vida única, el honor representa para el samurái
                lo máximo, no le temen a la muerte, dedicar su vida a perfeccionarse en las artes marciales, en el
                combate con la katana, u otras armas legendarias, buscan la perfección, que puede tomar toda una vida.
            </p>
        </div>

        <div class="text">
            <span class="red-text"></span>
            <div class="space-text">
                <h2>Yamamoto Tsunetomo.</h2>
                <p> <i>"Bushido se realiza en presencia de la muerte. Esto significa elegir la muerte siempre que haya
                        una
                        elección entre la vida y la muerte. No hay otro razonamiento."</i></p>

                <h2>Watsuki Nobuhiro.</h2>
                <p><i>"Las nuevas épocas no surgen debido a las espadas, son creadas por las personas que las
                        manejan"</i>
                </p>

                <h2>Hajime Saito</h2>
                <p><i>"Un hombre que no pueda defender sus creencias es patético vivo o muerto"</i></p>

                <h2>Miyamoto Mushashi</h2>
                <p><i>"Una vez soñé con el éxito mundano"</i></p>

                <h2>Yamamoto Tsunetomo</h2>
                <p><i>"El camino del Samurái se encuentra en la muerte"</i></p>

                <h2>Makoto</h2>
                <p><i>"Todo joven comete errores. Es nuestro destino tener que convivir con las consecuecias"</i></p>

                <h2>Lian Hearn</h2>
                <p><i>"La paz no reinará, mientras sigan combatiendo en las fronteras"</i></p>

                <h2>Uesegi Kenshin</h2>
                <p><i>"Participa en un combate totalmente decidido a morir y estarás vivo; deseas sobrevivir en la
                        batalla y seguramente encontrarás la muerte"</i></p>

            </div>

        </div>


    </section>

    <footer style="margin-top: 200px;">
        <div class="footer-container">
            <div class="about group">
                <h2>CAGD</h2>
                <p>Front-end Developer</p>

            </div>
            <div class="hr"></div>
            <div class="info group">
                <h3>More</h3>
                <ul>
                    <li><a href="../index.html">El gran Samurai</a></li>
                    <li><a href="../templates/termilonogia.html">Terminologia</a></li>
                    <li><a href="../templates/historia.html">Historia</a></li>
                    <li><a href="../templates/Grandes-samuris.html">Grandes Samurais</a></li>
                    <li><a href="../templates/Arte.html">Arte</a></li>
                    <li><a href="../templates/haiku.html">Proverbios</a></li>
                    <li><a href="../templates/armamentos.html">Armamentos</a></li>
                </ul>
            </div>
            <div class="hr"></div>
            <div class="follow group">
                <h3>Universidad
                    <br>
                    de
                    <br>
                    cordoba
                </h3>
            </div>
        </div>
        <div class="footer-copyright group">
            <p>© 2022 by CAGD. All rights reserved.</p>
        </div>
    </footer>

</body>

</html>