<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>

        <div id="header">
    
            <div class="navigation">
                <div class="title">
                    <a href="../index.html"><p>El gran
                    <p>
                    <h2>Samurai</h2>
                </a>
                </div>
    
                <nav class="nav">
                    <a href="../templates/termilonogia.html">Terminologia</a>
                    <a href="../templates/historia.html">Historia</a>
                    <a href="../templates/Grandes-samuris.html">Grandes Samurais</a>
                    <a href="../templates/Arte.html">Arte</a>
                    <a href="../templates/haiku.html">Probervios</a>
                    <a href="../templates/armamentos.html">Armamentos</a>
                </nav>
    
                <div class="nipon">
                    <img src="../img/trazo-logo-letra.png" alt="">
                </div>
                <div class="close">
                    <img src="../img/close.png" alt="">
                </div>
            </div>
        </div>
    
        <div class="menu-bar">
            <img src="../img/menu.png" alt="">
        </div>
    
    </header>

    <section id="History">
        <div class="history">
            <div class="line-history">
               <div class="title-line">
                <h2>Historia</h2>
                <p>Este es el período de la historia del Samurai en Japón, viven en algún período, conquistan y protegen
                    a Japón de la invasión.
                </p>


               </div> 
                <div class="sub-history">
                    <div class="linea"></div>

                    <div class="period-1">
                        <h3>Periodos Asuka y Nara</h3>
                        <p>Después de la Batalla de Hakusukinoe contra Tang China y Silla en el año 663 d. C., que
                            condujo a
                            una retirada de los asuntos coreanos, Japón experimentó una reforma generalizada. Una de las
                            más
                            importantes fue la de la Reforma Taika, emitida por el Príncipe Naka-no-Oe (Emperador Tenji)
                            en
                            646.</p>
                    </div>

                    <div class="period-2">
                        <h3>Periodo Heian</h3>
                        <p>en japonés, generalmente se refieren a ellos con el significado de 'guerrero', o buke (s),
                            mea al traductor William Scott Wilson: "Originalmente, un verbo que significa esperar a los
                            rangos superiores de la sociedad, y esto también es japonés, saburau. En ambos países
                            significa aquellos que sirven en estrecha atención
                            A principios del período Heian, a finales del siglo VIII y principios del IX, el emperador
                            Kanmu buscó consolidar y expandir su gobierno en el norte de Honshū y envió campañas
                            militares contra los Emishi, que resistieron el gobierno de la corte imperial con sede en
                            Kioto.</p>
                    </div>

                    <div class="period-3">
                        <h3>Período Heian tardío, Kamakura Bakufu</h3>
                        <p>En 1185, Japón comenzó a ser gobernado por guerreros o samuráis. Hasta ese momento, el
                            gobierno había sido burocrático en teoría, pero en realidad era aristocrático (es decir, las
                            personas ocupaban ciertos puestos porque nacían en familias con derecho a ocupar esos
                            puestos). Incluso después de 1185, el gobierno civil en la corte del emperador continuó y la
                            ley y el estado no cambiaron, pero una nueva clase de samuráis llegó al poder y se convirtió
                            cada vez más en los verdaderos gobernantes del país.</p>
                    </div>

                    <div class="period-4">
                        <h3>Shogunato Kamakura</h3>
                        <p>Después de tan solo tres shogunes del clan Minamoto, el país volvió a vivir una guerra civil.
                            El clan Hōjō había usurpado la regencia a los Minamoto. Por este motivo, en 1219 el
                            Emperador Go-Toba, buscando restablecer el poder imperial que gozaban antes del
                            establecimiento del shogunato, acusó a los Hōjō de proscritos.</p>

                    </div>


                </div>

                <div class="line-cyrcle">

                    <span class="line"></span>
                    <span class="cyrcle-1"></span>
                    <span class="cyrcle-2"></span>
                    <span class="cyrcle-3"></span>
                    <span class="cyrcle-4"></span>
        
                </div>
            </div>

            <div class="history-img">
                <img src="../img/history.png" alt="">

            </div>
        </div>
    </section>

    <footer>
        <div class="footer-container">
          <div class="about group">
            <h2>CAGD</h2>
            <p>Front-end Developer</p>
         
          </div>
          <div class="hr"></div>
          <div class="info group">
            <h3>More</h3>
            <ul>
              <li><a href="../index.html">El gran Samurai</a></li>
              <li><a href="../templates/termilonogia.html">Terminologia</a></li>
              <li><a href="../templates/historia.html">Historia</a></li>
              <li><a href="../templates/Grandes-samuris.html">Grandes Samurais</a></li>
              <li><a href="../templates/Arte.html">Arte</a></li>
              <li><a href="../templates/haiku.html">Proverbios</a></li>
              <li><a href="../templates/armamentos.html">Armamentos</a></li>
            </ul>
          </div>
          <div class="hr"></div>
          <div class="follow group">
            <h3>Universidad
                <br>
                de
                <br>
                cordoba
            </h3>
          </div>
        </div>
        <div class="footer-copyright group">
          <p>© 2022 by CAGD. All rights reserved.</p>
        </div>
      </footer>

    
</body>
</html>