<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminologia</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>

        <div id="header">

            <div class="navigation">
                <div class="title">
                    <a href="../index.html ">
                        <p>El gran
                            <p>
                            <h2>Samurai</h2>
                    </a>
                </div>

                <nav class="nav">
                    <a href="../templates/termilonogia.html">Terminologia</a>
                    <a href="../templates/historia.html">Historia</a>
                    <a href="../templates/Grandes-samuris.html">Grandes Samurais</a>
                    <a href="../templates/Arte.html">Arte</a>
                    <a href="../templates/haiku.html">Probervios</a>
                    <a href="../templates/armamentos.html">Armamentos</a>
                </nav>

                <div class="nipon">
                    <img src="../img/trazo-logo-letra.png" alt="">
                </div>
                <div class="close">
                    <img src="../img/close.png" alt="">
                </div>
            </div>
        </div>

        <div class="menu-bar">
            <img src="../img/menu.png" alt="">
        </div>

    </header>


    <section id="Terminology">
        <div class="terminology">
            <div class="left">
                <h2>Terminologia</h2>
                <p>En japonés, generalmente se les conoce como bushi (武士, [bɯ.ɕi]) o buke (武家). Según el traductor
                    William
                    Scott Wilson: "En chino, el carácter 侍 era originalmente un verbo que significaba 'esperar',
                    'acompañar
                    a las personas' en los rangos superiores de la sociedad, y esto también es cierto para el término
                    original en japonés, saburau. En ambos países, los términos se nominalizaron para significar
                    "aquellos
                    que sirven de cerca a la nobleza".</p>
            </div>

            <div class="rigth">
                <img src="../img/terminology.png" alt="">
            </div>

        </div>
    </section>

    <footer style="margin-top: 150px;">
        <div class="footer-container">
          <div class="about group">
            <h2>CAGD</h2>
            <p>Front-end Developer</p>
         
          </div>
          <div class="hr"></div>
          <div class="info group">
            <h3>More</h3>
            <ul>
              <li><a href="../index.html">El gran Samurai</a></li>
              <li><a href="../templates/termilonogia.html">Terminologia</a></li>
              <li><a href="../templates/historia.html">Historia</a></li>
              <li><a href="../templates/Grandes-samuris.html">Grandes Samurais</a></li>
              <li><a href="../templates/Arte.html">Arte</a></li>
              <li><a href="../templates/haiku.html">Proverbios</a></li>
              <li><a href="../templates/armamentos.html">Armamentos</a></li>
            </ul>
          </div>
          <div class="hr"></div>
          <div class="follow group">
            <h3>Universidad
                <br>
                de
                <br>
                cordoba
            </h3>
          </div>
        </div>
        <div class="footer-copyright group">
          <p>© 2022 by CAGD. All rights reserved.</p>
        </div>
      </footer>

</body>

</html>